@{
    ViewBag.Title = "View All";
}
<h1>@ViewBag.Title</h1>
<ul>
    @foreach (KeyValuePair<string, string> column in ViewBag.columns)
    {
        <li>
            <a asp-controller="List" asp-action="Values" asp-route-column="@column.Key">@column.Value</a>
        </li>
    }
</ul>